.table {
  margin-top: 2em;
}


h3 {
  margin-top: 1em;
  text-align: center;
  color: red;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.pointerCursor {
  cursor: pointer;
}

/* .card-header {
  height: 3em;
} */
.btn-success {
  margin-right: 1em;
}
.btn-danger {
  margin-right: 1em;
}

#card card-header card-body {
  display: none;
}

#card card-header card-title:hover {
  text-decoration: underline;
}

#card card-header card-body:target {
  display: block;
}

.fas {
  margin-right: 1em;
}
.image {
  width: 20em;
  margin-right: 15em;
}
.navbar {
  height: 5.5em;
}
.search_bar{
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  border-radius: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem rgba(25, 66, 128, 0.075);
  padding: 0.8rem;
}

.avatar-pic {
  width: 150px;
  }
.menu {
  margin-left: 10em;
}
.d-flex{
  margin-right: 10em;
}

.image-card{
  width: 25em;
      margin-right: 10em;
      margin-bottom: 2em;
}

