<h3> List of all users</h3>
<div class = "table">
  <table class="table table-dark">
    <tr>
      <th *ngFor="let col of columns">
        {{ col }}
      </th>
    </tr>
    <tr *ngFor="let user of users; index as i">
      <td *ngFor="let col of columns">
        {{ user[col] }}
      </td>
      <td><button class = "btn btn-success" (click) = "updateUser(i)">Edit</button></td>
      <td><button class = "btn btn-success" (click) = "deleteUser(i)">Delete</button></td>
      <td><button class = "btn btn-primary" (click) = "userProfile(i)">userProfile</button></td>

    </tr>
  </table>
</div>

