.sidenav-container {
  height: 100%;
  /* background-color: slategrey */
  background: radial-gradient(circle, rgba(89,91,198,1) 0%, rgba(148,233,226,1) 100%);
}

.sidenav {
  width: 200px;
  margin-top: 5em;
  background: gainsboro;
  position: fixed
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  /* position: sticky; */
  z-index: 1;
}
