.card-header {
  background-color: gainsboro;
}
.card {
  margin-bottom: 1em;
}
.pointerCursor {
  cursor: pointer;
}

.fa {
  margin-right: 1em;
}

.fas {
  margin-right: 1em;
}
.fal {
  margin-right: 1em;
}
